@import 'modern-normalize/modern-normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@layer components {
  .navLink {
    @apply text-white text-base font-semibold leading-5 transition-colors duration-200 hover:text-primary-yelow ease-in-out;
  }
  .socialLinks {
    @apply block fill-white transition-colors duration-200 hover:fill-primary-yelow;
  }
  .footerTitle {
    @apply text-white font-rubik text-2xl font-medium mb-[74px];
  }
  .containerStyled {
    @apply w-[1230px] mx-auto px-[15px];
  }
  .subscribeInput {
    @apply w-[365px] py-[21px] pl-[30px] text-white text-xl font-normal bg-transparent placeholder:text-white placeholder:text-xl placeholder:font-normal;
  }
  .subscribeTextarea {
    @apply w-full resize-none pt-5 pl-6 bg-transparent text-xl text-white font-normal placeholder:text-white placeholder:text-xl placeholder:font-normal;
  }
}
